.flex-container {
    background-color: lightgreen;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 400px;
    border-radius: 15px;
}

.flex-item {
    background-color: blueviolet;
    padding: 60px;
    margin: 20px; 
    border-radius: 10px;
}